In [ ]:
import csv
import pandas as pd
data=pd.read_csv('/content/_select_distinct_sv_students_id_as_students_id_g_id_as_group_id__202202171014.csv', delimiter=',')
data

,students_id,group_id,group_name,discipline_id,lesson_types_id,lesson_types_name,lesson_num,lessons_date,visit
0,9,65,ПОЭД18о1,168,28,Лекции,4,2021-09-01,1
1,9,65,ПОЭД18о1,168,28,Лекции,4,2021-09-07,1
2,9,65,ПОЭД18о1,1146,28,Лекции,4,2021-09-03,1
3,9,65,ПОЭД18о1,1494,28,Лекции,5,2021-09-03,1
4,9,65,ПОЭД18о1,1581,28,Лекции,3,2021-09-07,1
...,...,...,...,...,...,...,...,...,...
827864,8704,418,СИНД21о2,4188,35,Практические,4,2021-09-23,1
827865,8704,418,СИНД21о2,4188,35,Практические,4,2021-10-07,1
827866,8704,418,СИНД21о2,4188,35,Практические,4,2021-11-18,1
827867,8704,418,СИНД21о2,4188,35,Практические,4,2021-11-24,1
827868,8704,418,СИНД21о2,4188,35,Практические,4,2021-12-02,1

In [ ]:
#подсчет значений посещаемости
data['visit'] = pd.to_numeric(data['visit'], errors='coerce')
data['visit'].value_counts()

1    687338
0    118816
2     21715
Name: visit, dtype: int64

In [ ]:
data.groupby(['students_id']).agg({'lesson_types_id': "count", 'visit': "sum"})

             lesson_types_id  visit
students_id
9                         13     13
45                        40     27
51                        40     27
74                         2      2
76                         2      2
...                      ...    ...
8687                      35      9
8691                     213    213
8697                       7      1
8698                      14      3
8704                     217    217

[3522 rows x 2 columns]

In [ ]:
data.groupby(['students_id'])['visit'].agg('sum').count()

3522

In [ ]:
#количество посещений лекций
lecture_1 = data.query('lesson_types_id == 28 & visit == 1')
lecture_1.count()

students_id          329610
group_id             329610
group_name           329610
discipline_id        329610
lesson_types_id      329610
lesson_types_name    329610
lesson_num           329610
lessons_date         329610
visit                329610
dtype: int64

In [ ]:
#количество пропуска лекций
lecture_0 = data.query('lesson_types_id == 28 & visit == 0')
lecture_0.count()

students_id          3130
group_id             3130
group_name           3130
discipline_id        3130
lesson_types_id      3130
lesson_types_name    3130
lesson_num           3130
lessons_date         3130
visit                3130
dtype: int64

In [ ]:
#количество посещений практик
practical_1 = data.query('lesson_types_id == 35 & visit == 1')
practical_1.count()

students_id          329538
group_id             329538
group_name           329538
discipline_id        329538
lesson_types_id      329538
lesson_types_name    329538
lesson_num           329538
lessons_date         329538
visit                329538
dtype: int64

In [ ]:
#1 Зависимость "id дисциплины" + посещаемость
#посещение конкретных дисциплин
dis = data.groupby(['discipline_id']).agg({'visit': "sum"})
#dis
dis.sort_values(by=['visit'], ascending=[False])

               visit
discipline_id
3951           29750
3703           16897
3697           16804
277            15840
1242           15222
...              ...
1492               0
1336               0
1268               0
3932               0
4625               0

[456 rows x 1 columns]

In [ ]:
#2 Зависимость "Тип пары" + посещаемость
type_visit = data.groupby(['lesson_types_name']).agg({'visit': "sum"})
type_visit

                                          visit
lesson_types_name
Зачет                                     16993
Зачет с оценкой                             136
Защита курсового проекта                     47
Защита курсовой работы                      281
Консультации (экзамен)                      236
Лабораторные                              11085
Лекции                                   345086
Пересдача (комиссионно) Зачет                37
Пересдача (комиссионно) Курсовая работа       5
Пересдача (комиссионно) Экзамен               9
Пересдача зачет                               0
Пересдача экзамен                            25
Практические                             356620
Экзамен                                     208

In [ ]:
#3 Зависимость "Номер пары" + посещаемость
num_less = data.groupby(['lesson_num']).agg({'visit': "sum"})
num_less

             visit
lesson_num
1           107088
2           117944
3           190411
4           166663
5           108365
6            38794
7             1503

In [ ]:
#подсчет посещений по датам
date_visit = data.groupby(['lessons_date']).agg({'visit': "sum"})
date_visit

              visit
lessons_date
2021-09-01     7230
2021-09-02    11516
2021-09-03    10900
2021-09-06    10915
2021-09-07     9920
...             ...
2021-12-25     2495
2021-12-27     7990
2021-12-28     8168
2021-12-29     4727
2021-12-30    11107

[102 rows x 1 columns]

In [ ]:
#3 (в прошлой работе зависимость "Номер пары + посещаемость")

#4 зависимость "Дата пары(месяц)" + посещаемость
import datetime 

data['lessons_date'] = pd.to_datetime(data['lessons_date'], errors='coerce')
data['month'] = data['lessons_date'].dt.month
data.groupby(['month']).agg({'visit': "sum"})

        visit
month
9      187424
10     173620
11     188106
12     181618

In [ ]:
#2 и 5 ОСНОВНОЕ
#2 Зависимость "Тип пары" + посещаемость
#5 Зависимость "Тип пары + номер пары" + посещаемость
data.groupby(['lesson_types_name','lesson_num']).agg({'visit': "sum"})

                                                    visit
lesson_types_name                       lesson_num
Зачет                                   1            2184
                                        2             773
                                        3             717
                                        4            2619
                                        5            4271
                                        6            5114
                                        7            1315
Зачет с оценкой                         2              40
                                        5              32
                                        6              64
Защита курсового проекта                1              28
                                        3              19
Защита курсовой работы                  1             233
                                        2               0
                                        3              36
                                        4              12
Консультации (экзамен)                  2              59
                                        3              59
                                        4              59
                                        5              59
Лабораторные                            1             990
                                        2            3639
                                        3            3211
                                        4            1662
                                        5            1183
                                        6             400
Лекции                                  1           56365
                                        2           58555
                                        3           92670
                                        4           75150
                                        5           51808
                                        6           10538
Пересдача (комиссионно) Зачет           1              15
                                        2               4
                                        3               0
                                        5              12
                                        6               6
                                        7               0
Пересдача (комиссионно) Курсовая работа 1               0
                                        2               2
                                        6               3
Пересдача (комиссионно) Экзамен         1               4
                                        2               5
                                        4               0
Пересдача зачет                         1               0
Пересдача экзамен                       1               8
                                        2               5
                                        5               6
                                        6               6
Практические                            1           47123
                                        2           54792
                                        3           93699
                                        4           87161
                                        5           50994
                                        6           22663
                                        7             188
Экзамен                                 1             138
                                        2              70

In [ ]:
#ДОП ОБЩЕЕ (вывод с подсчетом по всем параметрам)
data.groupby(['lesson_types_name','lesson_num']).sum()

                                                    students_id  group_id  \
lesson_types_name                       lesson_num
Зачет                                   1               5867275    264437
                                        2               2663986    120165
                                        3               4602720    227093
                                        4              15314590    742208
                                        5              23517799   1107225
                                        6              22815231   1080775
                                        7               3494712    166915
Зачет с оценкой                         2                 92696      5474
                                        5                 59094      1846
                                        6                118188      3692
Защита курсового проекта                1                 92696      5474
                                        3                 71916      2904
Защита курсовой работы                  1               1171479     47211
                                        2                 56305       576
                                        3                140016      5952
                                        4                 70011      1750
Консультации (экзамен)                  2                297467     19111
                                        3                297467     19111
                                        4                297467     19111
                                        5                297467     19111
Лабораторные                            1               6019718    283575
                                        2              28284292   1504621
                                        3              19919623   1009345
                                        4               7168974    383893
                                        5               2597434    154823
                                        6                564294     33928
Лекции                                  1             280258608  13385905
                                        2             292524640  13931217
                                        3             295404916  13698659
                                        4             183079342   8511038
                                        5             115309679   5812733
                                        6              19745105   1138342
Пересдача (комиссионно) Зачет           1               1740902     99028
                                        2               1831088     87621
                                        3                 39379      3108
                                        5               2626430    113917
                                        6               2108502     69441
                                        7                 89848     12007
Пересдача (комиссионно) Курсовая работа 1                203333     16917
                                        2                184054      8371
                                        6                258964     22238
Пересдача (комиссионно) Экзамен         1                492255     46674
                                        2                508710     52144
                                        4                 39379      3108
Пересдача зачет                         1                 53468      5180
Пересдача экзамен                       1                731765     67161
                                        2                672177     68852
                                        5                517928     44476
                                        6                517928     44476
Практические                            1             278144851  12820793
                                        2             301379332  13829063
                                        3             422855709  19789353
                                        4             346522806  16266107
                                        5             155673422   7058974
                                        6              68348488   3309602
                                        7                522549     42326
Экзамен                                 1                782988     50524
                                        2                406880     25920

                                                    discipline_id  \
lesson_types_name                       lesson_num
Зачет                                   1                 5248222
                                        2                 1991715
                                        3                 2372487
                                        4                 8218233
                                        5                11778942
                                        6                12179074
                                        7                 3603062
Зачет с оценкой                         2                   72693
                                        5                   10070
                                        6                  233206
Защита курсового проекта                1                  107625
                                        3                   67440
Защита курсовой работы                  1                 1133370
                                        2                   65664
                                        3                   74458
                                        4                   54558
Консультации (экзамен)                  2                  231870
                                        3                  186381
                                        4                   70741
                                        5                  136467
Лабораторные                            1                 3579158
                                        2                12700417
                                        3                11620576
                                        4                 6055200
                                        5                 4327713
                                        6                 1907399
Лекции                                  1               145801626
                                        2               143526795
                                        3               203965519
                                        4               150956606
                                        5               111836919
                                        6                25396452
Пересдача (комиссионно) Зачет           1                 2481180
                                        2                 2868828
                                        3                   35028
                                        5                 3558764
                                        6                 1722269
                                        7                    3772
Пересдача (комиссионно) Курсовая работа 1                  374925
                                        2                  263027
                                        6                  654155
Пересдача (комиссионно) Экзамен         1                 1484735
                                        2                 1006982
                                        4                   36820
Пересдача зачет                         1                   60048
Пересдача экзамен                       1                  951696
                                        2                  541137
                                        5                 1116635
                                        6                 1299085
Практические                            1               137971262
                                        2               165261387
                                        3               275947443
                                        4               246103194
                                        5               140883268
                                        6                63599896
                                        7                  719473
Экзамен                                 1                  413439
                                        2                  212020

                                                    lesson_types_id  visit  \
lesson_types_name                       lesson_num
Зачет                                   1                     24190   2184
                                        2                      9180    773
                                        3                      7610    717
                                        4                     28260   2619
                                        5                     46240   4271
                                        6                     57730   5114
                                        7                     14680   1315
Зачет с оценкой                         2                       451     40
                                        5                       418     32
                                        6                       836     64
Защита курсового проекта                1                      2173     28
                                        3                      1272     19
Защита курсовой работы                  1                     17472    233
                                        2                      1152      0
                                        3                      2448     36
                                        4                       672     12
Консультации (экзамен)                  2                      1180     59
                                        3                      1180     59
                                        4                      1180     59
                                        5                      1180     59
Лабораторные                            1                     32832    990
                                        2                    121068   3639
                                        3                    106569   3211
                                        4                     61452   1662
                                        5                     45765   1183
                                        6                     18117    400
Лекции                                  1                   1543388  56365
                                        2                   1602748  58555
                                        3                   2568524  92670
                                        4                   2090004  75150
                                        5                   1434412  51808
                                        6                    294308  10538
Пересдача (комиссионно) Зачет           1                     54537     15
                                        2                     47432      4
                                        3                      1372      0
                                        5                     57232     12
                                        6                     37142      6
                                        7                      4018      0
Пересдача (комиссионно) Курсовая работа 1                      7038      0
                                        2                      7038      2
                                        6                     10455      3
Пересдача (комиссионно) Экзамен         1                     20950      4
                                        2                     21100      5
                                        4                      1400      0
Пересдача зачет                         1                      2112      0
Пересдача экзамен                       1                     26961      8
                                        2                     24295      5
                                        5                     17630      6
                                        6                     17630      6
Практические                            1                   2145255  47123
                                        2                   2364075  54792
                                        3                   4060665  93699
                                        4                   3765125  87161
                                        5                   2246300  50994
                                        6                   1008105  22663
                                        7                      7910    188
Экзамен                                 1                      6396    138
                                        2                      3280     70

                                                      month
lesson_types_name                       lesson_num
Зачет                                   1             29028
                                        2             11016
                                        3              9132
                                        4             33912
                                        5             55488
                                        6             69276
                                        7             17616
Зачет с оценкой                         2               492
                                        5               456
                                        6               912
Защита курсового проекта                1               492
                                        3               288
Защита курсовой работы                  1              4138
                                        2               240
                                        3               612
                                        4               168
Консультации (экзамен)                  2               708
                                        3               708
                                        4               708
                                        5               708
Лабораторные                            1             12822
                                        2             47384
                                        3             41706
                                        4             24224
                                        5             17832
                                        6              7119
Лекции                                  1            572124
                                        2            591851
                                        3            948299
                                        4            770767
                                        5            529354
                                        6            108356
Пересдача (комиссионно) Зачет           1             11130
                                        2              9680
                                        3               280
                                        5             11680
                                        6              7580
                                        7               820
Пересдача (комиссионно) Курсовая работа 1              1380
                                        2              1380
                                        6              2050
Пересдача (комиссионно) Экзамен         1              4190
                                        2              4220
                                        4               280
Пересдача зачет                         1               480
Пересдача экзамен                       1              6270
                                        2              5650
                                        5              4100
                                        6              4100
Практические                            1            650211
                                        2            717137
                                        3           1229715
                                        4           1139321
                                        5            676970
                                        6            305490
                                        7              2712
Экзамен                                 1              1872
                                        2               960

In [ ]:
#6 Зависимость "тип пары + id дисциплины" + посещаемость
cur = data.groupby(['lesson_types_name','discipline_id']).agg({'visit': "sum"})
cur.sort_values(by=['visit'], ascending=[False])

                                                       visit
lesson_types_name                       discipline_id
Лекции                                  3951           16037
Практические                            3697           15522
                                        1242           14074
                                        3951           12907
Лекции                                  3703            9007
...                                                      ...
Пересдача (комиссионно) Зачет           2688               0
Пересдача (комиссионно) Курсовая работа 4625               0
Пересдача (комиссионно) Зачет           2555               0
                                        4619               0
                                        1200               0

[1135 rows x 1 columns]

In [ ]:
#7 Зависимость "тип пары + id дисциплины + номер пары" + посещаемость
current = data.groupby(['lesson_types_name','discipline_id', 'lesson_num']).agg({'visit': "sum"})
current.sort_values(by=['visit'], ascending=[False])

                                                                  visit
lesson_types_name                       discipline_id lesson_num
Практические                            3697          1            7060
Лекции                                  3951          3            6833
                                        3703          2            5253
                                        3951          2            5096
Практические                            3697          3            4523
...                                                                 ...
Пересдача (комиссионно) Зачет           3630          2               0
                                        3522          2               0
                                        3486          1               0
                                        3417          1               0
Пересдача (комиссионно) Курсовая работа 1505          2               0

[2701 rows x 1 columns]

In [ ]:
#8 Зависимость "Тип пары + id дисциплины + дата пары + номер пары" + посещаемость
cur = data.groupby(['lesson_types_name','discipline_id', 'month', 'lesson_num']).agg({'visit': "sum"})
cur.sort_values(by=['visit'], ascending=[False])

                                                                        visit
lesson_types_name                       discipline_id month lesson_num
Лекции                                  3951          9     3            2045
Практические                            3697          12    1            1932
Лекции                                  3703          9     2            1895
                                        3951          11    3            1873
Практические                            3697          10    1            1823
...                                                                       ...
Защита курсовой работы                  1178          10    1               0
Пересдача (комиссионно) Зачет           1629          10    1               0
                                        1872          10    2               0
Пересдача (комиссионно) Курсовая работа 3445          10    1               0
Практические                            1891          12    3               0

[7337 rows x 1 columns]

In [ ]:
#9 Зависимость "id дисциплины + номер пары" + посещаемость
cur = data.groupby(['discipline_id', 'lesson_num']).agg({'visit': "sum"})
cur
cur.sort_values(by=['visit'], ascending=[False])

                          visit
discipline_id lesson_num
3951          3           10523
              2            8818
3703          2            7268
3697          1            7172
277           2            6479
...                         ...
3727          2               0
1315          4               0
1336          1               0
2830          2               0
4625          2               0

[1873 rows x 1 columns]

In [ ]:
#10 Зависимость "id дисциплины + дата пары(месяц)" + посещаемость
cur = data.groupby(['discipline_id', 'month']).agg({'visit': "sum"})
cur.sort_values(by=['visit'], ascending=[False])

                     visit
discipline_id month
3951          9       8034
              11      7582
              12      7142
              10      6992
3697          12      5985
...                    ...
1555          10         0
1492          10         0
1336          10         0
1268          10         0
4625          10         0

[1686 rows x 1 columns]

In [ ]:
#11 Зависимость "тип пары + дата пары(месяц)" + посещаемость
cur = data.groupby(['lesson_types_name', 'month']).agg({'visit': "sum"})
cur

                                                visit
lesson_types_name                       month
Зачет                                   12      16993
Зачет с оценкой                         12        136
Защита курсового проекта                12         47
Защита курсовой работы                  10          0
                                        12        281
Консультации (экзамен)                  12        236
Лабораторные                            9        2601
                                        10       2621
                                        11       2912
                                        12       2951
Лекции                                  9      109207
                                        10      77930
                                        11      92606
                                        12      65343
Пересдача (комиссионно) Зачет           10         37
Пересдача (комиссионно) Курсовая работа 10          5
Пересдача (комиссионно) Экзамен         10          9
Пересдача зачет                         10          0
Пересдача экзамен                       10         25
Практические                            9       75616
                                        10      92993
                                        11      92588
                                        12      95423
Экзамен                                 12        208

In [ ]:
#12 Зависимость "id дисциплины + тип пары + дата пары(месяц)" + посещаемость
cur = data.groupby(['lesson_types_name', 'discipline_id', 'month']).agg({'visit': "sum"})
cur

                                       visit
lesson_types_name discipline_id month
Зачет             110           12        32
                  130           12        12
                  135           12        64
                  145           12        17
                  161           12        52
...                                      ...
Практические      4600          12       138
Экзамен           1199          12        52
                  2313          12        51
                  3159          12        53
                  3930          12        52

[3563 rows x 1 columns]

In [ ]:
#13 Зависимость "номер пары + дата пары(месяц)" + посещаемость
cur = data.groupby(['lesson_num', 'month']).agg({'visit': "sum"})
cur

                  visit
lesson_num month
1          9      27788
           10     26096
           11     27517
           12     25687
2          9      31717
           10     29010
           11     30451
           12     26766
3          9      49773
           10     45973
           11     50674
           12     43991
4          9      42582
           10     39369
           11     44013
           12     40699
5          9      27541
           10     25315
           11     26586
           12     28923
6          9       8023
           10      7857
           11      8865
           12     14049
7          10         0
           12      1503

In [ ]:
#14 Зависимость "id дисциплины + номер пары + дата пары(месяц)" + посещаемость
cur = data.groupby(['discipline_id', 'lesson_num', 'month']).agg({'visit': "sum"})
cur

                                visit
discipline_id lesson_num month
25            4          9         31
                         10        28
                         11        13
                         12        36
              5          9         34
...                               ...
4621          2          10         0
4622          1          10         0
4623          2          10         0
4624          1          10         0
4625          2          10         0

[5407 rows x 1 columns]

In [ ]:
#15 Зависимость "тип пары + номер пары + дата(месяц)" + посещаемость
cur = data.groupby(['lesson_types_name', 'lesson_num', 'month']).agg({'visit': "sum"})
cur

                                    visit
lesson_types_name lesson_num month
Зачет             1          12      2184
                  2          12       773
                  3          12       717
                  4          12      2619
                  5          12      4271
...                                   ...
Практические      6          11      6216
                             12      6608
                  7          12       188
Экзамен           1          12       138
                  2          12        70

[113 rows x 1 columns]